.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav a:hover {
    background-color: #727272;
    color: #fff;
}

#banner {
    display: flex;
    background-attachment: fixed;
    background-image: url('../img/bibliografia/Elvis_1956.jpg');
    background-position: center;
    background-size: cover;
    height: 705px;
}

#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
    background-color: #ffffff;
}

#geral aside {
    flex: 1;
    background-color: #ffffff
}


.widget_tittle {
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_tittle_text {
    color: #555555;
    font-size: 20px;
    font-weight: 500;
}

.widget_tittle_bar {
    width: 50px;
    height: 3px;
    background-color: #b3b3b3;
    margin-top: 10px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

article {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a {
    text-decoration: none;
}

article .history {
    display: flex;
}

article .history_birth {
    background-color: #727272;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}

article .history_date {
    background-color: #b3b3b3;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    margin-left: 3px;
}

article .history_thumb01 {
    margin-top: 10px;
}

article .history_thumb01 img {
    width: 100%;
    height: auto;
}

article .history_tittle {
    margin-top: 10px;
    font-size: 20px;
    color: #555555;
}

article .history_text {
    margin-top: 10px;
    margin-bottom: 30px;
    line-height: 20px;
    color: #5c5c5c;
}

aside .widget_tittle {
    margin-top: 30px;
    margin-bottom: 20px;
}

aside .widget_filmbox {
    display: flex;
    justify-content: center;
    color: #ffffff;
    width: 100px;
    height: 143px;
    background-color: #1e1e1e;
    border-radius: 10px;
    margin-top: 10px;
    margin: 4px;
}

aside .widget_filmbox a {
    margin: 2px;
    text-decoration: none;
}

aside .widget_filmbox img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

aside .desc {
    margin-top: 10px;
    color: #b3b3b3;
    text-align: center;
    font-size: smaller;
}

.widget_space {
    margin-top: 50px;
}

.form {
    font-size: 1rem;
    margin-right: 20px;
    margin-top: 20px;
}

.form label,
.form input,
.form textarea,
.form button {
    width: 100%;
}

.form label {
    color: #727272;
    line-height: 1;
}

.form input,
.form textarea {
    padding: 0.3rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 5rem;
    resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
    outline: none;
    border-color: #09d;
    box-shadow: 0 0 0 3px #4dc8ff;
}

.form button {
    padding: 0.5rem;
    background: #0072c4;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
    margin-left: 6px;
}

.form button:hover,
.form button:focus {
    outline: none;
    background: #09d;
}


footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.footer_box {
    display: flex;
    font-weight: 500;
    text-align: center;
}

.box01,
.box02,
.box03 {
    flex: 1;
    color: #ffffff;
    padding: 20px;
}

.box01 {
    background-color: #b3b3b3;
}

.box02 {
    background-color: #727272;
}

.box03 {
    background-color: #5c5c5c;
}

.footer_area {
    display: flex;
}

.footer_arealinks {
    flex: 1;
    color: #ffffff;
}

.flexColumn {
    flex-direction: column;
}

footer .widget_tittle_text {
    color: #ffffff;
}

.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 20px;
}

.mmLine {
    height: 5px;
    background-color: #1e1e1e;
}

@media (max-width:800px) {
    .container {
        flex-direction: column;
    }

    #geral section,
    #geral aside {
        padding: 20px;
    }

    .footer_box {
        flex-direction: column;
    }

    .footer_area {
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        opacity: 0.7;
    }

    header {
        height: auto;
    }

    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}